.countries-length{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
.visited-length{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.countries-area{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:30px auto ;
    gap: 40px;
    justify-content: space-around;
}