.country{
    border: 2px solid rgb(196, 194, 194);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.country button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 147, 214);
    border:2px solid gray;
}
.visited{
    background-color: rgb(248, 167, 167);
    
}
.not-visited{
    background-color: rgb(202, 240, 202);
}